<section>
  <div class="text-center margin-bottom-35 margin-top-35">
    <div class="logo">
      <img src="../../../../assets/img/logo-yellow.svg">
    </div>
    <h2 class="head">{{carouselConfig.head}}</h2>
  </div>

  <div class="row">
    <div class="col-md-12">
      <carousel [interval]="carouselConfig.interval" [noWrap]="carouselConfig.noWrap">
        <slide *ngFor="let slide of slides; let index=index">
          <div class="col-xs-12 col-sm-6 col-md-7">
            <div class="row">
              <!-- contenful is not able to rescale and crop image  -->
              <img class="wrap-img"
                   [gmContentfulSrcId]="slide.fields.thumbnail.sys.id"
                   [width]="1000"
                   [height]="800"
                   [fit]="'crop'">
              <div class="triangle"></div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-5">
            <div class="block-description">
              <div class="date-info">{{slide.fields.createdAt | gmToDate | date}}</div>
              <a *ngIf="!slide.fields.url" class="title">{{slide.fields.title}}</a>
              <a *ngIf="slide.fields.url" [routerLink]="[slide.fields.url]"
                 angulartics2On="click"
                 angularticsEvent="{{slide.fields.title}}"
                 class="title">{{slide.fields.title}}</a>
              <p>{{slide.fields.description}}</p>
              <a *ngIf="!slide.fields.url" class="more-info">Read more »</a>
              <a *ngIf="slide.fields.url" [routerLink]="[slide.fields.url]"
                 angulartics2On="click"
                 angularticsEvent="{{slide.fields.title}}"
                 class="more-info">Read more »</a>
            </div>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</section>
