<!--TODO: remove static text-->
<h3 class="title">Donate</h3>
<p>Help us achieve a fact-based understanding of the world.</p>

<form>
  <fieldset>
    <input type="number" min="0" class="text col-md-12" placeholder="Enter an amount in US dollars ...">
    <label class="margin-top-15">
      <input type="checkbox">
      Make this a monthly donation
    </label>
    <button class="btn-yellow margin-top-15">Donate Now</button>
  </fieldset>
</form>
<p class="note">
  Swish number:
  <a href="tel:1233275575">123 327 55 75</a>
</p>
