@import "../../../../variables.styl"

.title
  font-size 28px
  margin 0

p
  font-size 16px
  line-height 20px
  margin 15px 0 0
  display inline-block
  width 100%

.text
  padding-top 5px
  padding-bottom 5px
  font-size 16px
  margin-top 5px

label
  font-size 16px
  color color-grey
  font-weight normal
