<section class="margin-top-35">
  <div class="col-md-8 margin-bottom-35">
    <h2 class="post-head margin-top-0">Our Blogs</h2>

    <div class="blogs-list">
      <div class="row">
        <div *ngFor="#blog of blogs | async" class="blog-item col-md-6">
          <a [routerLink]="['Details', {slug: blog.fields.slug}]" class="post-wrap-img">
            <img [contentful-src-id]="blog.fields.thumbnail.sys.id"
                 alt="{{blog.fields.title}}">
          </a>
          <div class="date-info">{{blog.fields.createdAt | toDate | date}}</div>
          <a [routerLink]="['Details', {slug: blog.fields.slug}]" class="post-title">
            {{blog.fields.title}}
          </a>
          <p class="post-p">{{blog.fields.description}}</p>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-4">
    <sidebar></sidebar>
  </div>
</section>
