@import "../../../../variables.styl"

.fa-twitter
  color: #2daae2

.twitter-user-info
  position relative
  padding-left 60px
  min-height 50px
  text-align left
  display inline-block

  .name
    font-size 16px
    color color-dark

  span
    color color-grey
    font-family 'Bariol Light'
    font-size 14px

  .wrap-avatar
    height 44px
    width 44px
    border-radius 50%
    overflow hidden
    position absolute
    top 0
    left 0

.twitter-description
  text-align left

  p
    font-size 18px
    color color-dark
    margin 0

  .date-info
    font-size 12px
    margin 0

  .more
    color #2b7bb9
    font-size 18px

.shared-link
  color #2daae2

.twitter-slider
  margin-bottom 70px
  float left
  width 100%

  .next,
  .prev
    background none
    border none
    font-size 40px
    color color-grey
    position absolute
    top 0
    outline none
    &[disabled],
    &:disabled
      opacity 0.5

  .next
    right -30px

  .prev
    left -30px
