<header>
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <div class="row">
        <a [routerLink]="['Root']" class="logo" *ngIf="!isOnRootView">
          <img src="../../../assets/img/logo-yellow.svg">
        </a>
        <div *ngIf="collapsed">
          <div class="navbar-header hidden-md-up">
            <div class="navbar-toggle navbar-toggler pull-right menu-mobile" (click)="isCollapsed = !isCollapsed"
                 [ngClass]="isCollapsed ? 'open' : '' ">
              <div class="icon"></div>
            </div>
          </div>
          <nav class="hidden-xs hidden-xs-down">
            <ul class="nav navbar-nav">
              <li *ngFor="#child of structure.children">
                <a [routerLink]="['DynamicContent', {contentType: child.fields.type}]">{{ child.fields.name }}</a>
                <ul class="dropdown-menu diff"
                    role="menu"
                    *ngIf="child.fields.children">
                  <!-- TODO -->
                  <li *ngFor="#item of child.fields.children">
                    <a class="dropdown-item" href>
                      <img
                        *ngIf="item.fields.thumbnail"
                        [contentful-src-id]="item.fields.thumbnail.sys.id"
                        class="frame-img">
                      {{item.fields.name}}
                      <span>{{item.fields.description}}</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>

        <search (toggleSearchMenu)="toggle($event)"></search>

      </div>
    </div>
  </div>
</header>
