<div id="primary-menu">
  <div class="menu-container clearfix flat-menu">
    <div id="logo">
      <a [routerLink]="['Root']" title="Gapminder">
        <img class="logo"
             [contentful-src-id]="'5IgbUOGd6oAKOciK0GawYW'"
             alt="Gapminder -   About">
      </a>
    </div>
    <div class="menu clearfix">
      <ul id="menu-primary" class="sf-js-enabled">
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
          <a [routerLink]="['Videos', 'List']">
            Videos
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
