<header>
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <div class="row">
        <a [routerLink]="['/']" class="logo" *ngIf="!isOnRootView"
           angulartics2On="click"
           angularticsEvent="'Gapminder.org'">
          <img *ngIf="headerLogo" [gmContentfulSrcId]="headerLogo.fields.image.sys.id">
        </a>
        <gm-search (toggleSearchMenu)="toggle($event)" class="hidden-lg hidden-md hidden-sm mobile-search"></gm-search>
        <gm-header-menu [hidden]="!collapsed"></gm-header-menu>
        <gm-search (toggleSearchMenu)="toggle($event)" class="hidden-xs"></gm-search>

      </div>
    </div>
  </div>

</header>
