
.video-box {
  margin-bottom: 15px;
  position: relative;
  padding-left: 27%;
  margin-bottom: 15px;
  min-height: 130px;

  & > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
  }

  .desc {
    color: #444445;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    margin-top: 8px;
    max-height: 78px;
  }

  .name a {
    color: #58595b;
    font-size: 23px;
    margin-bottom: 5px;
    font-family: 'Bariol Regular', sans-serif;
  }
}

