
#footer-container {
  background: #939598;
  padding: 20px 40px;
  clear: both;
}

#footer-container a {
  font-weight: bold;
}

#footer {
  clear: both;
  position: relative;
}

#footer .copyright {
  display: inline;
  float: left;
  margin-right: 9px;
}

#footer-logo {
  padding-left: 37px;
}


#menu-footer {
  padding-bottom: 20px;
}

#menu-footer li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

#menu-footer li a {
  color: #e4e5e5;
  font-style: normal;
  font-family: 'Bariol Thin', sans-serif;
  font-size: 13px;
}

#menu-footer li a:hover {
  opacity: 0.9;
}

#menu-footer li:first-child a, #menu-footer li:nth-child(2) a {
  font-family: 'Bariol Bold', sans-serif;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#menu-footer li:nth-child(3) {
  display: block;
  height: 0;
  overflow: hidden;
  margin-bottom: 5px;
  margin-top: 5px;
}

.socials {
  position: absolute;
  right: -15px;
  top: 0px;
}
