<div class="block-subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h3>Subscribe To The Newsletter</h3>
        <p>Do not miss the discussion of professionals</p>
      </div>
      <form class="col-md-7">
        <fieldset>
          <div class="wrap-row-subscribe">
            <input type="text" class="text" placeholder="Enter your e-mail ...">
            <input type="submit" value="Subscribe &#187;" class="btn-yellow">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="col-md-3">
      <div class="row">
        <a [routerLink]="['Root']"
           angulartics2On="click"
           angularticsEvent="go to Home">
          <img src="../assets/img/logo.svg">
        </a>
        <!--TODO: add page/link-->
        <ul class="menu-footer-small">
          <li><a href="">Gapminder World</a></li>
          <li><a href="">For Teachers</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row">

        <ul class="menu-footer">
          <li *ngFor="let item of menu">
            <a [routerLink]="[routesGatewayService.getRouteName(item.fields.entryPoint.fields.slug)]"
               angulartics2On="click"
               angularticsEvent="{{ item.fields.name }}">
              {{ item.fields.name }}
            </a>
          </li>
        </ul>

      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <ul class="social">
          <li>
            <a href="https://twitter.com/Gapminder" target="_blank">
              <i class="fa fa-twitter-square"></i>

            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/gapminder.org" target="_blank">
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              <i class="fa fa-youtube-square"></i>
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              <i class="fa fa-google-plus-square"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
