@import "../../../variables.styl"

.line-social
  position relative
  color color-dark
  font-size 24px
  line-height 1.2
  z-index 1
  overflow hidden
  text-align center
  &:before,
  &:after
    content ''
    display inline-block
    width 100%
    height 1px
    background #eff2f6
    z-index -1
    position relative
    vertical-align middle
  &:before
    right 20px
    margin 0 0 0 -100%

  &:after
    margin 0 -100% 0 0
    left 20px

  li
    display inline-block
    margin-left 20px
    font-size 24px
    &:first-child
      margin 0
    a
      &.twitter
        color #5ea9dd
      &.facebook
        color #3765a3
      &.pinterest
        color #d73532
      &.google
        color #dc4a38
      &.linkedin
        color #0274b3
