<!--TODO: add all kinks-->
<ul class="line-social">
  <li>
    <a class="twitter" href="https://twitter.com/Gapminder">
      <i class="fa fa-twitter-square"></i>
    </a>
  </li>
  <li>
    <a class="facebook" href="https://www.facebook.com/gapminder.org">
      <i class="fa fa-facebook-square"></i>
    </a>
  </li>
  <li>
    <a class="pinterest" href="">
      <i class="fa fa-pinterest-square"></i>
    </a>
  </li>
  <li>
    <a class="google" href="">
      <i class="fa fa-google-plus-square"></i>
    </a>
  </li>
  <li>
    <a class="linkedin" href="">
      <i class="fa fa-linkedin-square"></i>
    </a>
  </li>
</ul>
