<div *ngIf="content" class="col-md-8">
  <h1>
    {{ content.fields.title }}
  </h1>

  <div id="about-help-nav">
    <a *ngFor="#menuItem of submenuItems"
       [routerLink]="['AboutSubsection', {slug: menuItem.slug }]">
      <span>
        {{ menuItem.title }}
      </span>
    </a>
  </div>

  <div class="entry-content entry">
    <p *ngFor="#entry of content.fields.entries"
       [innerHTML]="entry.fields.content | markdown"></p>
  </div>
</div>

<div class="col-md-4">
  <sidebar></sidebar>
</div>
