@import "../../../variables.styl"

.search-form
  margin 18px 15px 0
  .indent
    padding-right 35px

  .no-indent
    flex-wrap nowrap
    display flex
    flex-direction row

  .text
    width 100%
    padding 6px 30px 6px 15px
    font-size 16px
    line-height 18px

  .wrap-input
    position relative
    padding 0
    flex-grow 1

    &.in
      @media small
        display inline-block
        width 80%
        margin-bottom 10px

  .submit
    background none
    border none
    position absolute
    top 2px
    outline none
    right 7px

  .btn-search
    background none
    border none
    color color-grey
    font-size 18px
    font-family 'Bariol Regular', sans-serif
    outline none
