<form class="search-form">
  <fieldset>
    <div [ngClass]="{'indent': collapsed, 'no-indent': !collapsed}">
      <div [hidden]="collapsed" class="wrap-input">
        <input type="search" class="text" placeholder="Enter keywords ...">
        <button type="submit" class="submit">
          <img src="../assets/img/ico-array-right.svg">
        </button>
      </div>
      <button type="button" class="btn-search pull-right" (click)="toggle()">
        <img [hidden]="!collapsed" src="../assets/img/search-icon.png">
        <span [hidden]="collapsed">Cancel</span>
      </button>
    </div>
  </fieldset>
</form>
