@import "../../../variables.styl"

.block-subscribe
  background color-blue
  padding 45px 0

  .btn-yellow
    position absolute
    top 0
    right 0

form
  margin-top 35px
  .text
    width 100%
  p
    font-size 20px
    color color-grey
    font-family 'Bariol Light', sans-serif

.wrap-row-subscribe
  position relative
  padding-right 175px

h3
  font-size 38px

