@import "../../../variables.styl"

.breadcrumbs
  font-size 18px
  color color-grey
  margin-top 15px

  li
    float left
    margin-right 10px

    i
      margin-right 10px
      font-size 14px
      line-height 18px
