@import "../../../variables.styl"

.wrap-img
  border 1px solid #e2e6ec
  border-radius 2px
  display block
  overflow hidden
  text-align center
  margin-bottom 10px
  //img
  //  height 100%
  //  width 100%

.sidebar
  background color-blue
  padding 20px
  margin-bottom 20px
  .wrap-img
    img
      width 100%
      @media medium
        height 200px
      @media small
        height auto

  li
    &:nth-child(2n)
      padding-left 0
    @media small
      &:nth-child(2n)
        padding-left 15px


.related
  .wrap-img
    img
      width 100%
      height 240px
      @media small
        height auto


.title
  font-size 28px
  margin 0

p
  font-size 16px
  line-height 20px
  margin 15px 0 0
  display inline-block
  width 100%

.note
  font-family  'Bariol Regular Italic'

.list-proposals
  display inline-block
  width 100%

  li
    margin 10px 0
    display inline-block
    vertical-align top
    float none
    //&:nth-child(2n)
    //  margin 0

    a
      font-size 16px

.text
  padding-top 5px
  padding-bottom 5px
  font-size 16px

label
  font-size 16px
  color color-grey
  font-weight normal
