@import "../../../variables.styl"

.sidebar
  background color-blue
  padding 20px
  margin-bottom 20px

.title
  font-size 28px
  margin 0

p
  font-size 16px
  line-height 20px
  margin 15px 0 0
  display inline-block
  width 100%

.note
  font-family  'Bariol Regular Italic'

.wrap-img
  border 1px solid #e2e6ec
  border-radius 2px
  overflow hidden
  display block

  img
    width 100%

.list-proposals

  li
    margin 10px 0
    float left
    width 48%
    &:nth-child(2n)
      float right

    a
      font-size 16px

.text
  padding-top 5px
  padding-bottom 5px
  font-size 16px

label
  font-size 16px
  color color-grey
  font-weight normal
